*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button#createCanvas {
    margin: 16px;
}

#canvas {
    width: 800px;
    height: 800px;
    outline: 2px solid red;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.canvasRow {
    display: flex;
    flex: 1;
}

.canvasItem {
    flex: 1;
}

.drawn {
    background-color: black;
}